# Xcode build products
build/
DerivedData/

# User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods 
Pods/
Podfile.lock

# Carthage 
Carthage/Build/

# Fastlane 
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# iOS artifacts
*.ipa
*.dSYM.zip
*.dSYM

# macOS system files
.DS_Store
