# Xcode build products
build/
DerivedData/

# User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
Packages/
Package.pins
.swiftpm/

# CocoaPods 
Pods/
Podfile.lock

# Carthage 
Carthage/Build/

# Fastlane 
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# iOS artifacts
*.ipa
*.dSYM.zip
*.dSYM

# macOS system files
**/.DS_Store

# Xcode workspace user data
*.xcworkspace/xcuserdata/

# Xcode misc
*.hmap
*.moved-aside
*.xccheckout
*.gcno
*.gcda

# Merge conflict originals
**/*.orig

# Playgrounds (scratch code)
*.playground/

# Swift build directory
.build/

# Secrets
Secrets.xcconfig

#Claude
.claude
screenshots/
.agents/
skills-lock.json
agents.md
