<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GooglePlacesAPIKey</key>
	<string>$(GOOGLE_PLACES_API_KEY)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Savor uses your location to sort your saved restaurants by distance from you.</string>
</dict>
</plist>
