//
//  Secrets.xcconfig
//  Apeti
//
//  Created by Jahred Danker on 12/22/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
GOOGLE_PLACES_API_KEY = AIzaSyBjyw427rfICkKh9Iy-jToL81wCWvGe1Y4
